header {
    background-color: #161925;
    color: #FDFFFC;
    font-family: 'Patua One', cursive;
    font-size: xx-large;
    font-weight: bold;
    padding: .3em;
    text-align: center;
}

fieldset {
    padding-bottom: 2em;
}

/* Side-Bar Ids */

#menu-header {
    text-decoration: underline;
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 1em;
}

#search {
    font-size: x-large;
    margin: auto;
    padding: 2px;
}

#search-bar {
    background-color: whitesmoke;
    border: 2px solid grey;
    float: left;
}

#search-button {
    background-color: #2196F3;
    border: 2px solid grey;
    color: white;
    float: left;
    text-align: left;
    cursor: pointer;
}

#search-button:hover {
    background-color: #0b7dda;
}

#search-history {
    margin-left: auto;
    margin-right: auto;
}

#history {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#clear-history-button {
    margin-top: 1em;
}

#current-weather {
    float: left;
    margin: 0;
}

/* Classes */

.history-button {
    height: 50px;
    width: 90%;
    border: 2px solid black;
    margin-bottom: 1em;
    color: white;
    text-align: left;
    text-indent: 20px;
    background-color: lightslategray;
}

.history-button:hover {
    background-color: #0b7dda;
    border-color: white;
    color: white;
}

.display {
    border: 2px solid black;
    background-color: lightslategrey;
    padding: 1em;
    margin: 1em;
}

.hidden {
    display: none;
}

.uv-low {
    color: white;
    background-color: limegreen;
}

.uv-med {
    color: black;
    background-color: orange;
}

.uv-high {
    color: black;
    background-color: red;
}

#uvindex {
    width: max-content;
}

.forecast-card {
    color: black;
    background-color: ghostwhite;
    display: inline-block;
    height: max-content;
    width: max-content;
}